<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KwitaraCars - Bootstrap Cars Dealer Template </title>

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" /><!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="fonts/themify-icons/themify-icons.css" type="text/css" /><!-- Icons -->
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" /><!-- Owl Carousal -->
    <link rel="stylesheet" href="css/price-range.css" type="text/css" /><!-- Owl Carousal -->

    <link rel="stylesheet" href="css/style.css" type="text/css" /><!-- Style -->	
    <link rel="stylesheet" href="css/responsive.css" type="text/css" /><!-- Responsive -->	
    <link rel="stylesheet" href="css/colors.css" type="text/css" /><!-- color -->	

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css">

</head>
<body>

    <!-- /.preloader -->
    <div id="preloader"></div>
    <div class="theme-layout">

        <div class="account-popup-sec">

            <div class="account-popup-area">
                <div class="account-popup">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="account-user">
                                <div class="logo">
                                    <a href="#" title="">
                                        <i class="fa fa-get-pocket"></i>
                                        <span>DEALER X</span>
                                        <strong>VENTA DE VEHICULOS</strong>
                                    </a>
                                </div><!-- LOGO -->
                                <form>
                                    <h1>INICIAR SESION</h1>
                                    <div class="field">
                                        <input type="text" id="correo" placeholder="CORREO" />
                                    </div>
                                    <div class="field">
                                        <input type="password" id="password" placeholder="CONTRASEÑA" />
                                    </div>
                                    <div class="field">
                                        <input type="submit" id= "submit" value="Aceptar" class="flat-btn" />
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <span class="close-popup"><i class="fa fa-close"></i></span>
                </div>
            </div>
        </div><!-- Account Popup Sec -->

        <header class="simple-header for-sticky ">
            <div class="menu">
                <div class="container">
                    <div class="logo">
                        <a href="index.html" title="">
                            <i class="fa fa-get-pocket"></i>
                            <span>Dealer X</span>
                            <strong>Venta de vehiculos</strong>
                        </a>
                    </div><!-- LOGO -->
                    <div class="popup-client" id = "iniciarbtn">
                        <span><i class="fa fa-user"></i>   INICIAR SESION</span>
                    </div>
                    <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                    <nav>
                        <h1 class="nocontent outline">--- Main Navigation ---</h1>

                        <ul>
                            <li>
                                <a href="index2.html" title="">INICIO</a>
                            </li>
                            <li>
                                <a href="vehiculs2.html" title="">VEHICULOS</a>
                            </li>

                            <li><a href="contact.html" title="">CONTACTO</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </header>


    <div class="inner-head overlap">
            <div  style="background: url(img/parallax1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->	
            <div class="container">
                <div class="inner-content">
                    <span><i class="fa fa-bolt"></i></span>
                    <h2>CONTACTENOS</h2>
                    <ul>
                        <li><a href="index2.html" title="">INICIO</a></li>
                        <li><a href="contact.html" title="">CONTACTENOS</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- inner Head -->

        <section class="block">
            <div class="container">
                 <h1 class="nocontent outline">--- email+phone ---</h1>    
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-lists-sec">
                            <ul>
                                <li>
                                    <i class="fa fa-phone"></i>+1 (849-409-9312)  (829-638-5829)
                                </li>
                                <li>
                                    <i class="fa fa-at"></i>GRUPO2@pucmm.edu.do
                                </li>
                                <li>
                                    <i class="fa fa-support"></i>SOPORTE DISPONIBLE  24/7
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="block remove-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading4">
                            <h2>CONTACTENOS</h2>
                        </div>
                        <div class="contact-page-sec">
                            <div class="row">
                                <div class="col-md-6 column">
                                    <div class="contact-form">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <i class="fa fa-user"></i>
                                                    <input type="text" placeholder="NOMBRE">
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-at"></i>
                                                    <input type="text" placeholder="CORREO">
                                                </div>
                                                <div class="col-md-12">
                                                    <i class="fa fa-pencil"></i>
                                                    <textarea placeholder="MENSAJE"></textarea>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="flat-btn" type="submit">ENVIAR</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 column">
                                    <div class="contact-details">
                                        <div class="contact-infos">
                                            <ul>
                                                <li>
                                                    <span><i class="fa fa-phone"></i> DIRECCION</span>
                                                    <p>765 Shuttle Swift Area <br>at New Born Road </p>
                                                </li>
                                                <li>
                                                    <span><i class="fa fa-fax"></i> Fax/Email</span>
                                                    <p>+1 (849-409-9312)  (829-638-5829) <br>GRUPO2@pucmm.edu.do</p>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="social-btns">
                                            <li><a title="" href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-dribbble"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a title="" href="#"><i class="fa fa-tumblr"></i></a></li>
                                        </ul>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810658868!2d-0.24168151926400253!3d51.5287718408995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2s!4v1452621215004"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <section class="top-line">
                <div style="background: url(img/footer.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax blackish"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="container">
                    <div class="row">

                        <div class="col-md-3 column">
                            <div class="about_widget widget">
                                <div class="heading1">
                                    <h2><span>ENLACES</span> UTILES</h2>
                                </div><!-- heading -->

                                <span><i class="fa fa-envelope"></i>GRUPO2@pucmm.edu.do</span>
                                <span><i class="fa fa-phone"></i>+1 (849-409-9312)  (829-638-5829)</span>
                                <span><i class="fa fa-location-arrow"></i>1234 Tokyo shibuia , WI 54115</span>
                                <ul class="social-btns">
                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-tumblr"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 column">
                            <div class="subscribe_widget widget">
                                <div class="heading1">
                                    <h2><span>Subscribete</span> a nosotros</h2>
                                </div><!-- heading -->
                                <form>
                                    <label><input type="text" placeholder="ESCRIBE TU CORREO" /></label>
                                    <button type="submit" class="flat-btn"><i class="ti ti-email"></i></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <div class="bottom-line">
                <div class="container">
                    <span>Copyright All Right Reserved 2021 <a href="#" title="">GRUPO 2 ING. SOFTWARE</a></span>
                    <ul>
                        <li><a title="" href="index2.html">INICIO</a></li>
                        <li><a title="" href="vehiculs2.html">VEHICULOS</a></li>
                        <li><a title="" href="contact.html">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="scrollToTop"><i class="ti ti-arrow-circle-up"></i></a>
        </footer>

    </div>

    <!-- Script -->
    <script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizer -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script><!-- Jquery -->
    <script type="text/javascript" src="js/script.js"></script><!-- Script -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl Carousal -->
    <script type="text/javascript" src="js/html5lightbox.js"></script><!-- HTML -->
    <script type="text/javascript" src="js/price-range.js"></script><!-- Parallax -->
    <script type="text/javascript" src="js/scrolly.js"></script><!-- Parallax -->
    <script type="text/javascript" src="js/jquery.poptrox.min.js"></script><!-- Popup -->
    <script src="assets/js/Login.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";

            $(function () {
                var foo = $('.gallery-box');
                foo.poptrox({
                    usePopupCaption: true
                });
            });
        });
    </script>

</body>
</html>